# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entorno virtual
venv/
ENV/
env/

# Archivos específicos de la aplicación
dataset_ucundinamarca/
logs/*.log
*.pt

# Archivos de configuración local
.env

# Directorios y archivos de los IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db